* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
}

html,
body {
  height: 100%;
}

body {
  background-color: #f7f7f7;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 10px;
  z-index: 100;
  box-shadow: 0 2px 3px #9c9c9c2d;
}

.nav-brand {
  font-size: 1.6rem;
  font-weight: bold;
  color: #222222;
}

.nav-links {
  padding: 2px 16px;
  color: #222222;
  font-size: 0.9rem;
  font-weight: 400;
}

.nav-activity {
  display: flex;
  align-items: center;
}
.nav-search {
  border: 1px solid #ccc;
  display: flex;
  width: 100%;
  align-items: center;
  height: 35px;
  padding: 5px;
  justify-content: space-around;
  border-radius: 50px;
  background-color: #fff;
}

input[type="search"] {
  border: none;
  outline: none;
  height: 100%;
  background-color: #fff;
}

.nav-search ion-icon {
  font-size: 20px;
  color: #222222;
}

.nav-icon ion-icon {
  font-size: 25px;
  padding: 0 10px;
  color: #222222;
}

.nav-menu__btn {
  /* width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center; */
  margin-left: 10px;
}

.nav-menu__btn ion-icon {
  font-size: 28px;
}

.nav-items {
  display: none;
}
.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.199);
  position: fixed;
  z-index: 150;
  top: 0;
  left: 0;
}

.disable {
  display: none;
}

.mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  background-color: #fff;
  z-index: 200;
  padding: 50px 9px 0px 9px;
}

.mobile-link__cover {
  padding: 8px 0;
  background-color: #fdfdfdbd;
  margin: 14px 0;
}

.mobile-links {
  color: #222222;
  font-size: 1rem;
  font-weight: 530;
  padding: 0 0 0 10px;
}

.body {
  width: 100%;
  background-color: #fff;
  height: auto;
  margin-top: 20px;
  padding: 0 20px;
}

.slider {
  display: flex;
  width: 100%;
  height: 300px;
}

.image {
  width: 100%;
  height: 100px;
}

.img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 50% 50%;
}

.hero-cover {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 5px 0;
  word-spacing: -4px;
  text-align: center;
}

.hero-caption {
}

.hero-btn {
  display: flex;
  width: 100px;
  height: 30px;
  margin: 20px 0;
  align-items: center;
  justify-content: center;
  background-color: #222222;
  border-radius: 20px;
}

.hero-btn div {
  color: #fff;
}

.new-cover {
  width: 100%;
  height: auto;
  padding: 10px 0;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.new-item__scroll {
  display: flex;
  width: fit-content;
}

.new-item {
  width: 320px;
  height: 400px;
  border: 1px solid #f3f3f3;
  margin: 0 20px;
}

.new-item__image {
  width: 100%;
  height: 300px;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-item__image img {
  width: 80%;
  height: auto;
}

.new-item__details,
.gallery__details {
  padding: 0 5px;
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.new-item__name,
.gallery__name {
  font-weight: bold;
}
.new-item__title .gallery__title {
  color: #a8a8a8;
}

.new-btn__cover {
  width: 100%;
  position: relative;
  top: 30%;
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-between;
}

.btns {
  position: absolute;
  top: 40%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.new-btn__nav {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 3px #e0e0e0;
}

.new-btn__nav ion-icon {
  font-size: 20px;
  --ionicon-stroke-width: 18px;
  color: #5a5a5a;
}

.gallery {
  width: 100%;
  max-width: 1500px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.gallery-item {
  width: 100%;
  height: 400px;
  border: 1px solid #eee;
  margin: 15px;
}

.gallery-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 320px;
  background: #fafafa;
}

.gallery-image img {
  width: 100%;
  height: auto;
}

@media (min-width: 500px) {
  .gallery-item {
    width: 400px;
    height: 380px;
  }
  .gallery-image {
    height: 280px;
  }
}

@media (min-width: 900px) {
  .nav-items {
    display: flex;
  }
}
